.hobbie{
  font-weight:600;
   color:teal;
   text-align:center;
   font-size:42px;
   }
   .image{
    background-size: cover;
  background-position: center;
  height: 300px;
  
    }
    p,{
      font-family:"Comic Sans MS";
      font-size:20px;
     
      }
      h3{
        font-family:Georgia;
        font-size:20px;
        font-weight:bold;
        
      }
      .introduction{
        font-weight:bold;
         text-align:left;
         
        }
        h2{
        color:maroon;
        font-size:300;
        }
.background{
  background-image:url("https://hdbackgroundspot.com//storage/upload/abstract-background/abstract-background-18.jpg ");  
  background-color:rgba(255,255,255,1);
  background-repeat: no-repeat;
  background-size:cover;
}
.teal{
color:teal;
}

.imagecar {
  position: relative; 
  height: 400px;
  width: 150px;
  margin: 10px;
}

.img__description{
  transition: opacity .2s, visibility .2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;

}
.center{
   {
       display: block;
       margin-left: auto;
       margin-right: auto;
      width: 50%;
      border-radius:50%;
   }
   ul{
   text-align:center;
   }
 
