.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1{
  color:#660000;
  
  }
  ul{
    font-family:'Comic sans MS';
    font-size:20px;
    text-align:center;    
    }
    .background{
    background-image:url("../images/backgroundImage.png");
    background-color:rgba(255,255,255,1);
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    }

